
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
    .row{
        margin: 0 !important;
    }
    .header_wrapp .navbar .navbar-toggler-icon{
        color: white;
    }
    .header_wrapp .navbar{
        padding: 1% 4%;
    }
    .navbar .navbar-toggler-icon{
        height: 1em;
        width: 1em;
    }
    .header_wrapp .navbar .navbar-collapse{
        padding: 5% 0;
    }
    .header_wrapp .navbar .btn-contact{
        /* margin-top: 40%; */
        margin-top: 4% !important;
    }
    .header_wrapp .navbar .navbar-menu{
        text-align: center;
    }
    .header_wrapp .navbar .btn{
        width: 50%;
        margin: auto;
        display: block;
    }
    .Banner{
        width: 100%;
        height: 100%;
    }
    .Banner .container .row{
        flex-direction: column-reverse;
    }
    .Banner .container .row .left{
        padding: 0 7% 6% 7%;
    }
    .Banner .container .row .right{
        margin-top: 30%;
    }
    .Banner .left h1 {
        font-size: 30px !important;        
        line-height: 2rem !important;
    }
    .Banner .left p{
        font-size: 13px;
    }
    .Banner .right .first-layer{
        width: 300px !important;
        height: 300px !important;
        margin: auto;
    }
    .Banner .right .second-layer{
        width: 280px !important;
        height: 280px !important;
    }
    .Banner .right .third-layer{
        width: 230px !important;
        height: 230px !important;
    }
    .Banner .right .fourth-layer{
        width:210px !important;
        height: 210px !important;
    }
    .Banner .right .fifth-layer img{
        width: 180px !important;
        height: 180px !important;
    }
    .Banner .right .lower-box{
        left: -5%;
        bottom: -5%;
    }
    .Banner .right .lower-box span,.upper-box span{
        font-size: 10px;
    }
    .Banner .left .btn-learn{
        font-size: 13px;
    }
    .heading h2{
        font-size: 25px;
    }    
    .heading p{
        font-size: 13px;
    }
    .Service .cards .card{
        margin-bottom: 20px;
    }
    .Service .cv-btn{
        width: 45%;
        margin: auto;
    }
    .Skill .left .row{
        width: 100%;    
    }    
    .Skill .skillAndExpe .right{
        margin-bottom: 2%;
    }
    .Projects .menu-bar ul{
        padding: 3%;
    }
    .Projects .menu-bar ul li{
        margin-right: 5%;
    }    
    .Client .card {
        margin-top: 5%;
        margin-bottom: 6%;
    }
    .Footer .content h4{
        font-size: 20px;
        font-weight: 600;
        line-height: 1rem;
    }
    .Footer .content .icons{
        width: 40%;
        margin: 5% auto;
    }
    .Footer .content .insta, .fb, .linkedin{
        width: 40px;
        height: 40px;
    }
    .Footer .footer-content{
        flex-direction: column;
    }   
    .About{
        height: 100%;
        padding: 20% 0;
    }
    .About .left .top{
        width: 100%;
        margin:10% auto 0 auto;        
    }
    .About .right .line{
        display: none;
    }    
    .About .right .content h3{
        font-size: 30px;
        margin-top: 5%;
    }
    .About .right .content p{
        font-size: 13px;
    }
    .About .right .points img{
        width: 14%;
    }
    .About .right .points{
        margin-top: 0%;
    }
    .About .right .points .first,.second,.third{
        color: var(--gray_text);
        width: 90%;

    }
    .About .right .points p{
        margin-top: 18%;
        margin-left: 2%;
        font-size: 13px;
    }
    .Contact{
        padding: 10% 0;
    }
    .Contact .left .content h4{
        font-size: 30px;
        font-weight: 600;
        margin-top: 5%;
    }
    .Contact .left .content p{
        font-size: 14px;
        width:90%;
    }
    .Contact .left .content .contact-detail{
        margin-bottom: 12%;
        margin-left: 0%;
    }
    .Contact .left .content .contact-detail .email,.address{
        margin-top: 7%;
    }
    .Contact .left .content .contact-detail i{
        color:var(--secondary_color);
        font-size: 22px;
    }
    .Contact .left .content .contact-detail p{
        margin-left: 2.5%;
        color: var(--white);
    }
    .Contact .right .form-div .form-label{
        font-size: 14px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) { }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) { }

 /* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .Banner .left h1 {
        font-size: 50px;        
        line-height: 3rem;
    }
    .Banner .right .first-layer{
        width: 430px;
        height: 430px;
        margin: auto;
    }
    .Banner .right .second-layer{
        width:400px;
        height: 400px;
    }
    .Banner .right .third-layer{
        width: 340px;
        height: 340px;
    }
    .Banner .right .fourth-layer{
        width: 310px;
        height: 310px;
    }
    .Banner .right .fifth-layer img{
        width: 250px;
        height: 250px;
    }    
    .About .right .line{
        margin-top: 7%;
        margin-left: -3%;
    }
    .About .right .content h3{
        font-size: 35px;
        margin-top: 8%;
    }
    .About .right .points{
        margin-top: 0;
    }
    .About .right .points p{
        margin-top: 8%;        
        font-size: 15px;
    }
    .Contact .left .content h4{
        font-size: 35px;
        font-weight: 800;
        margin-top: 5%;
    }
    .Contact .left .content p{
        font-size: 16px;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .Banner .left h1 {
        font-size: 50px;        
        line-height: 3rem;
    }
    .Banner .right .first-layer{
        width: 430px;
        height: 430px;
        margin: auto;
    }
    .Banner .right .second-layer{
        width:400px;
        height: 400px;
    }
    .Banner .right .third-layer{
        width: 340px;
        height: 340px;
    }
    .Banner .right .fourth-layer{
        width: 310px;
        height: 310px;
    }
    .Banner .right .fifth-layer img{
        width: 250px;
        height: 250px;
    }
    .About .left .outer-div{
        width: 70%;
        height:26rem;
        margin: 20% auto 0 auto;
    }
    .About .right .line{
        margin-top: 7%;
        margin-left: -3%;
    }
    .About .right .content h3{
        font-size: 35px;
        margin-top: 8%;
    }
    .About .right .points{
        margin-top: 0;
    }
    .About .right .points p{
        margin-top: 8%;        
        font-size: 15px;
    }
    .Contact .left .content h4{
        font-size: 35px;
        font-weight: 800;
        margin-top: 5%;
    }
    .Contact .left .content p{
        font-size: 16px;
    }
 }
